<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usługi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container pt-2">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/">Klienci</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cars">Samochody</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/services">Usługi</a>
        </li>
    </ul>
    <h1 class="text-center h1">Usługi</h1>
    <table class="table table-striped">
        <thead>
        <tr class="bg-info text-white">
            <th scope="col">ID</th>
            <th scope="col">Opis usługi</th>
            <th scope="col">Koszt (zł)</th>
            <th scope="col">Dane samochodu</th>
            <th scope="col">Właściciel</th>
        </tr>
        <tr th:each="service : ${services}">
            <td th:text="${service.id}"></td>
            <td th:text="${service.getDescription()}"></td>
            <td th:text="${service.getCost()}"></td>
            <td>
                <span th:each="car : ${service.getCar()}">
                    <span th:text="${car.carBrand}"></span> <span th:text="${car.carModel}"></span> <span
                        th:text="${car.registrationNumber}"></span><br/>
                </span>
            </td>
            <td>
                <span th:each="car : ${service.getCar()}">
                    <span th:each="customer : ${car.getCustomer()}">
                    <span th:text="${customer.firstName}"></span>  <span th:text="${customer.lastName}"></span><br/>
                    tel.<span th:text="${customer.phone}">
                </span>
                </span>
            </td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>

</body>
</html>